@section Scripts{
<script type="text/javascript">
    $(document).ready(function (e) {
        //Profile Search
        $("#select2-name").select2({
            minimumInputLength: 3,
            ajax: {
                url: "/Profile/Search",
                dataType: "json",
                quietMillis: 100,
                data: function (term, page) {
                    return {
                        filter: term
                    };
                },
                results: function (data, page) {
                    var items = [];
                    for (var i = 0; i < data.length; i++) {
                        var result = data[i];
                        items.push({ id: result.Id, text: result.FullName + ' (' + result.Email + ')' });
                    }

                    return { results: items };
                }
            }
        });

        $('#select2-name').on("change", function (e) {
            var $targetSection = $(".profile-area");

            $.ajax({
                dataType: "html",
                contentType: "application/json",
                type: "GET",
                url: "/Profile/Details/" + e.val,
                timeout: 10000,
                success: function (html) {

                    if ($.trim(html) === "")
                        $targetSection.html('<div>No employees found.</div>');
                    else
                        $targetSection.html(html);
                }
            });
        });

        $('#save-employee').click(function (e) {
            $("#add-employee-form").submit();
        });
    });
</script>
}

<div class="jumbotron">
    <div style="text-align:center">
        <input type="text" placeholder="Search by name" id="select2-name" style="width:400px;" />
    </div>

    <br />

    <div style="text-align:center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-employee">
            Add Employee
        </button>
    </div>
</div>

<div class="profile-area">
</div>

@Html.Partial("AddEmployee")